.spinner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    &_animation {
        border: 8px solid #f3f3f3; /* Light grey */
        border-top: 8px solid #A986EA; /* Blue */
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        animation: spin 2s linear infinite;
        margin-bottom: 0.5rem;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
}

  